@import "../../styles/vars.scss";

.circle-tooltip-image{
    position: relative;
    //padding: 43px;
    &__container-tooltip{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-32%, -50%);
    }
    &__tooltip-window{
        background-color: #E8AA31!important;
        color: #fff!important;
        &.place-top {
            &:after {
                border-top-color: #E8AA31 !important;
            }
        }
    }
    &__tooltip{
        width: 18px;
        height: 18px;
        border-radius: 18px;
        background-color: $primary_text;
        color: $write;
        background-color: #E8AA31;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        z-index: 2;
        cursor: pointer;
        &:hover::before{
            background-color: transparent;
            transition: background-color 600ms ease;
        }
        &::before{
            content: "";
            position: absolute;
            z-index: 1;
            width: 26px;
            height: 26px;
            background-color: rgba(232, 170, 49, 0.51);
            border-radius: 26px;
            transition: background-color 600ms ease;
        }

    }
}
