.catalog-popular{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    &__item{
        width: 100%;
        display: flex;
        @media screen and (min-width: 768px) {
            width: calc(50% - 18px);
        }
        @media screen and (min-width: 1200px) {
            width: calc(33.33% - 23px);
        }
    }
    &_item-2{
        width: 100%;
        display: flex;
        @media screen and (min-width: 768px) {
           width: calc(50% - 18px); 
        }
    }
}
